.post-item-image {
  width: 230px;
  height: 120px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden; }
  @media screen and (max-width: 1020px) {
    .post-item-image {
      width: 100%;
      height: 180px;
      border-radius: 0; } }

@font-face {
  font-family: 'G0v1';
  src: url("../font/G0v1.otf"); }

.nav-bar-container {
  width: 800px;
  height: 200px;
  position: relative;
  margin-left: 20%; }
  @media screen and (max-width: 1020px) {
    .nav-bar-container {
      margin-left: 0px;
      width: 61.8%; } }

.nav-title {
  bottom: 0px;
  position: absolute;
  font-size: 200px;
  color: #FFA438;
  font-family: 'G0v1'; }

.nav-subtitle {
  font-size: 30px;
  color: #FFA438;
  margin-left: 20%;
  position: relative; }
  @media screen and (max-width: 1020px) {
    .nav-subtitle {
      margin-left: 0px;
      width: 61.8%;
      font-size: 5vw; } }

.nav-bar {
  right: 0px;
  height: 55%;
  background: #FFA438;
  left: 200px;
  bottom: 20px;
  position: absolute; }
  @media screen and (max-width: 1020px) {
    .nav-bar {
      display: none; } }

.nav-list-item {
  color: white;
  font-size: 70px;
  bottom: 0px; }
  @media screen and (max-width: 1020px) {
    .nav-list-item {
      font-size: 15vw;
      margin-left: 10%; } }

.post-container {
  margin-top: 40px;
  margin-left: 20%;
  width: 800px;
  position: relative; }
  @media screen and (max-width: 1020px) {
    .post-container {
      margin-left: 0px;
      width: 61.8%; } }

.post-item-block {
  margin-top: 30px; }

.post-item-title {
  color: #03CAD7;
  text-decoration: none;
  font-size: 30px; }

a {
  text-decoration: none; }

.post-item-summary {
  margin-left: 30px;
  color: lightslategray;
  font-size: 10px; }

.footer-container {
  align-self: center;
  color: lightslategray;
  width: 800px;
  height: 80px;
  margin-left: 20%;
  margin-top: 80px;
  font-size: 5px; }
  @media screen and (max-width: 1020px) {
    .footer-container {
      display: none; } }

.side-nav-door {
  display: none; }
  @media screen and (max-width: 1020px) {
    .side-nav-door {
      display: block;
      background: #03CAD7;
      width: 10px;
      height: 10px;
      float: right; } }

.side-nav-bar {
  display: none; }
  @media screen and (max-width: 1020px) {
    .side-nav-bar {
      background: #03CAD7;
      display: block;
      position: fixed;
      width: 38.2%;
      height: 100%;
      top: 0;
      right: 0; } }

.side-nav-bar-block {
  height: 10%; }
